<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Form Details</title>
</head>
<style>
    .error {
        color: red;
    }
</style>
<body>

<i>Fill out form</i>
<br><br>

<form th:action="@{/processForm}" th:object="${customer}" method="POST">
    First Name: <input type="text" th:field="*{firstName}" />
    <br><br>
    Last Name: <input type="text" th:field="*{lastName}" />

    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}" class="error">
        </span>

    <br><br>

    <input type="submit" value="Submit" />
</form>

</body>
</html>
